li{
    list-style: none;
    padding: 3px;
    
}
.viewCards{
    background-color: #61dafb;
    margin: 0 5px;
    padding: 5px 10px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
  }

  .viewCards:hover {
    background-color: #a2ebff;
    transition: all .2s;
  }
  

