/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 */
 .App {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 100%;
  max-width: 960px;
  text-align: center;
  border: 3px solid #000000;
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
}

.button-list a {
  background-color: #61dafb;
  margin: 0 5px;
  padding: 5px 10px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

.button-list a:hover {
  background-color: #a2ebff;
  transition: all .2s;
}

@media all and (max-width: 767px) {

  .App { border: 0; }

}